
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,800&display=swap');

ion-app{
    /*color fondo */
    background-color: #25305F;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    /*vertical-align: middle;*/
}
.amplify-image {
  height: 230px;
}

ion-content{
  --background: var(--ion-color-secondary);
  font-family: 'Montserrat';
  --container-height: 100vh;
}
.auth{
  /* margin: 0 auto;
  width: 460px;
  height: 1400px; */
}

/* #authenticator {
  --container-height: 100vh;
}
amplify-authenticator {
  --container-height: 100vh;
} */

.amplify-button[data-variation='primary'] {
    /* boton iniciar sesion*/
    background: var(--ion-color-primary);
    /* letra boton iniciar sesion */
    color: var(--ion-color-tertiary);
  }

.amplify-button:hover[data-variation='primary'] {
    background: var(--ion-color-secondary);
    color: var(--ion-color-tertiary);
  }

/*
.amplify-grid[data-variation='primary'] {
    height: 100%;
}
.amplify-row[data-variation='primary'] {
    height: 100%;
}
*/

/*header */

ion-header{
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
ion-toolbar{
  width: 100%;
}
.logo_bar{
  padding-left: 30px;
}
.so_btn{
  color: var(--ion-color-primary);
}
