
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,800&display=swap');

ion-app{
    /*color fondo */
    background-color: var(--ion-color-secondary);
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    /*vertical-align: middle;*/
}
.amplify-image {
  height: 230px;
}

ion-text{
  font-family: 'Montserrat';
}

ion-content{
  --background: var(--ion-color-secondary);
  font-family: 'Montserrat';
  --container-height: 100vh;
}

.amplify-button[data-variation='primary'] {
    /* boton iniciar sesion*/
    background: var(--ion-color-primary);
    /* letra boton iniciar sesion */
    color: var(--ion-color-tertiary);
  }

.amplify-button:hover[data-variation='primary'] {
    background: var(--ion-color-secondary);
    color: var(--ion-color-tertiary);
  }

/*
.amplify-grid[data-variation='primary'] {
    height: 100%;
}
.amplify-row[data-variation='primary'] {
    height: 100%;
}
*/